@import "tailwindcss";

/* Smooth scroll behavior */
html {
    scroll-behavior: smooth;
}

/* Optional scrollbar styling */
.user-list-container::-webkit-scrollbar,
.chat-messages::-webkit-scrollbar {
    width: 6px;
}

.user-list-container::-webkit-scrollbar-thumb,
.chat-messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}