@import "tailwindcss";

.h-font {
    font-family: "Merienda", cursive;
    font-optical-sizing:auto;
    font-weight: 400,700;
    font-style: normal;
  }
  *{
    font-family: "Poppins", sans-serif;
    font-weight: 400,500,600;
    font-style: normal;
  }

/* Smooth scroll behavior */
html {
    scroll-behavior: smooth;
}

/* Optional scrollbar styling */
.user-list-container::-webkit-scrollbar,
.chat-messages::-webkit-scrollbar {
    width: 6px;
}

.user-list-container::-webkit-scrollbar-thumb,
.chat-messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}